* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #eff4fb;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    font-size: 4.4rem;
}

h3 {
    font-size: 3.5rem;
}

p, li, a {
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: medium;
    margin-left: 2rem;
}

ul {
    margin-bottom: 0;
}

.menu-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #F2C063;
}

.menu {
    background-color: #2D61A6;
}

.navbar {
    --bs-navbar-toggler-border-color: #F2C063;
}

.togglerBars {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28242, 192, 99, 100%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.logo, .footerLogo {
    width: 256.25px;
    height: 67.5px;
}

/*----------main----------*/
main img {
    display: flex;
    width: 100% ;
}

.mainDiv {
    padding-right: 0;
    padding-left: 0;
}
/*--------la-empresa------*/
.la-empresa {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#la-empresa h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#la-empresa .p-le {
    width: 50%;
    margin-right: 15px;
}

.p-le p {
    margin-left: 0;
}

#la-empresa img {
    width: 50%;
  
}

/*------fin la-empresa------*/

/*---------servicios--------*/
.page-servicios {
    padding: 3rem 0;
}

.titulo {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 300%;
}

.card-color {
    background-color: #DFE9F6;
}

.card-title {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 175%;
    margin-bottom: 0.50rem;
}

.card-description {
    color: #575756;;
    font-weight: 500;
    font-size: 150%;
    font-family: 'Open Sans', sans-serif;
}

.card-description-2 {
    color: #575756;
    font-size: 125%;
    font-family: 'Open Sans', sans-serif;
}

/*-------fin servicios------*/

/*--------sucursales--------*/
.title-section {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding-top: 1.5rem;
    font-weight: 500;
    color: #E29A12;
}

.btn-title button{
    font-size: 2rem;
}

.title-sucursal {
    color: #2D61A6;
    width: 100%;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
    margin-left: 0;
}

.data-sucursal {
    color: #000;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5px;
    margin-left: 0;
}

.data-sucursal-link {
    font-size: 1.5rem;
    margin-bottom: 5px;

}

/*------fin sucursales------*/

/*---------contacto---------*/
.h3-contacto {
    display: flex;
    justify-content: center;
}

.p-contacto {
    display: flex;
    justify-content: center;
}

/*--------fin contacto--------*/

/*-----------footer-----------*/
.text-style {
    font-size: 15px;
}

.p-footer {
    margin-left: 0;
}

.footer {
    background-color: #2D61A6;
}

/*--------fin footer--------*/

/*-------media queries-------*/
@media screen and (max-width:1080px) {
    .la-empresa {
        display: block;
    }

    #la-empresa .p-le {
        width: 100%;
    }

    .p-le p{
        text-align: center;
        margin-bottom: 2rem;
        margin-left: 0;
    }

    #la-empresa img {
        width: 100%;
    }
}