$menu: (
    bg-menu: #2D61A6,
);

$menu-item-font: (
    mi-font: 'Open Sans',
    mi-size: 17px,
    mi-color: #ffd88f,
);

$logo-size: (
    logo-size-width: 256.25px,
    logo-size-height: 67.5px,
);