.text-style {
    font-size: 15px;
    color: #ffd88f;
    margin-left: 0;
}

.p-footer {
    margin-left: 0;
    color: #ffd88f;
}

.footer {
    background-color: $bg-footer;
}

.footerLogo {
    width: map-get($logo-size, logo-size-width);
    height: map-get($logo-size, logo-size-height);
}