.menu-item {
    font-family: map-get($menu-item-font, mi-font);
    font-size: map-get($menu-item-font, mi-size);
    color: map-get($menu-item-font, mi-color);
}

.menu {
    background-color: $bg-menu;
}

.navbar {
    --bs-navbar-toggler-border-color: #ffd88f;
}

.navbar-nav {
    --bs-nav-link-hover-color: #ffffff;
}

.togglerBars {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 216, 143, 100%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.logo {
    width: map-get($logo-size, logo-size-width);
    height: map-get($logo-size, logo-size-height);
}