.page-servicios {
    padding: 3rem 0;
}

.titulo {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 300%;
}

.card-color {
    background-color: #DFE9F6;
}

.card-title {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 175%;
    margin-bottom: 0.50rem;
}

.card-description {
    color: #575756;;
    font-weight: 500;
    font-size: 150%;
    font-family: 'Open Sans', sans-serif;
}

.card-description-2 {
    color: #575756;
    font-size: 125%;
    font-family: 'Open Sans', sans-serif;
}

.card-height {
    height: 153.75px;
}